{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/no-did-mount-set-state": 0,
    "react/sort-comp": 0
  }
}
