node_modules
npm-debug.log

# Ignore yarn lockfile in libraries
# See: https://github.com/yarnpkg/yarn/issues/838#issuecomment-253362537
yarn.lock

# Editor and other tmp files
*.swp
*.un~
*.iml
*.ipr
*.iws
*.sublime-*
.idea/
*.DS_Store

# Build directories (Will be preserved by npm)
build
