node_modules
npm-debug.log
yarn.lock
coverage
cc-test-reporter

# Editor and other tmp files
*.swp
*.un~
*.iml
*.ipr
*.iws
*.sublime-*
.idea/
*.DS_Store

# Build directories (Will be preserved by npm)
dist
build
