.fixVertAlign {
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.row {
    @extend .fixVertAlign;

    padding: 10px 10px 10px 0;
    height: 100%;
    white-space: nowrap;
}

.rowOriginWhileDragging {
    opacity: 0.5;
}

.rowContents {
    @extend .fixVertAlign;

    display: inline-block;
    height: 100%;
    border: solid #BBB 1px;
    border-left: none;
    box-shadow: 0 2px 2px -2px;
    padding: 0 15px 0 10px;
    border-radius: 2px;
    min-width: 230px;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.rowItem {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    overflow: hidden;
}

.moveHandle {
    height: 100%;
    width: 44px;
    background: #D8D8D8 url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+') no-repeat center;
    border: solid #AAA 1px;
    box-shadow: 0 2px 2px -2px;
    cursor: move;
    border-radius: 1px;
}

.rowLabel {
    @extend .rowItem;
    padding-right: 20px;
    text-align: left;
    width: 50%;
    line-height: 1;
}

.rowTitle {
    font-weight: bold;
}

.rowTitleWithSubtitle {
    font-size: 85%;
    display: block;
}

.rowSubtitle {
    font-size: 70%;
}

.rowToolbar {
    @extend .rowItem;
    text-align: right;
    width: 50%;
}

.visibilityToggleButton {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #000;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
}

.collapseButton {
    @extend .visibilityToggleButton;
    background: #FFF url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48L2c+Cjwvc3ZnPg==') no-repeat center;
}

.expandButton {
    @extend .visibilityToggleButton;
    background: #FFF url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48cGF0aCBkPSJNOSA0LjV2OSIvPjwvZz4KPC9zdmc+') no-repeat center;
}
