.rst__placeholder {
  position: relative;
  height: 68px;
  max-width: 300px;
  padding: 10px;

  &,
  & > * {
    box-sizing: border-box;
  }

  &::before {
    border: 3px dashed #d9d9d9;
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    z-index: -1;
  }
}

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rst__placeholderLandingPad {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  * {
    opacity: 0 !important;
  }

  &::before {
    background-color: lightblue;
    border-color: white;
  }
}

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rst__placeholderCancelPad {
  @extend .rst__placeholderLandingPad;

  &::before {
    background-color: #e6a8ad;
  }
}
