/**
  * The container holding the VirtualScroll
  */
.tree {
    /*! This comment keeps Sass from deleting the empty rule */
}

/**
 * Extra class applied to VirtualScroll through className prop
 */
.virtualScrollOverride {
    overflow-x: visible !important;
    overflow-y: auto !important;

    * {
        box-sizing: border-box;
    }
}

:global .Grid__innerScrollContainer {
    overflow: visible;
}

:global .Grid {
    outline: none;
}
