.node {
    min-width: 100%;
    white-space: nowrap;
}

.nodeContent {
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ==========================================================================
   Scaffold

    Line-overlaid blocks used for showing the tree structure
   ========================================================================== */
.lineBlock {
    height: 100%;
    position: relative;
    display: inline-block;
}

%blackLineBase {
    position: absolute;
    content: '';
    background-color: black;
}

/**
 * +-----+
 * |     |
 * |  +--+
 * |     |
 * +-----+
 */
.lineHalfHorizontalRight {
    &::before {
        @extend %blackLineBase;
        height: 1px;
        top: 50%;
        right: 0;
        width: 50%;
    }
}

/**
 * +--+--+
 * |  |  |
 * |  |  |
 * |  |  |
 * +--+--+
 */
.lineFullVertical {
    &::after {
        @extend %blackLineBase;
        width: 1px;
        left: 50%;
        top: 0;
        height: 100%;
    }
}

/**
 * +-----+
 * |  |  |
 * |  +  |
 * |     |
 * +-----+
 */
.lineHalfVerticalTop {
    @extend .lineFullVertical;

    &::after {
        top: 0;
        height: 50%;
    }
}


/**
 * +-----+
 * |     |
 * |  +  |
 * |  |  |
 * +-----+
 */
.lineHalfVerticalBottom {
    @extend .lineHalfVerticalTop;

    &::after {
        top: auto;
        bottom: 0;
    }
}
