@import "./vendor/stylesheet";
@import "./vendor/github-light";

.page-header {
    padding: 1rem 6rem;
}

.main-content {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

/**
 * Uncomment to simulate bootstrap environment
 */
// html {
//     box-sizing: border-box;
// }

// *, *::before, *::after {
//     box-sizing: inherit;
// }
