@import "./vendor/stylesheet";
@import "./vendor/github-light";

.page-header {
  padding: 1rem 6rem;
}

.main-content {
  box-sizing: border-box;
}

.external-node {
  display: flex;
  flex-basis: auto;
  border: solid 1px black;
  width: 175px;
  padding: 5px;
  margin: 5px;
}

.external-node-container {
  padding: 20px;
  margin: 5px;
}

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Uncomment to simulate bootstrap environment
 */
// html {
//     box-sizing: border-box;
// }

// *, *::before, *::after {
//     box-sizing: inherit;
// }
